.bg {
  background-image: url("./components/background.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  background-image: url("./components/logo.png");
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: center; 
  cursor: pointer;
}


.albums-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
  column-gap: 0;
  row-gap: 0;
  padding: 20px;
  width: 95%;
  max-width: 1200px;
  margin: 0 auto; 
}

.album-card {
  position: relative; 
  width: 100%;
}

.album-image {
  width: 100%;
  height: 100%;
  border-radius: 0px;
}

@media (min-width: 768px) {
  .albums-grid {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  }
}
.album-name-wrapper {
  display: flex;
  justify-content: center;
}

.album-name {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(255, 0, 0);
  color: white;
  text-align: center;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0 0 0px 0px;
}

.album-card:hover .album-name {
  opacity: 100;
}

.suggestions {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  overflow: hidden;
}

.suggestions-name {
  padding: 3px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.suggestions-name:hover {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
}

.download {
  position: flex;
  width: 20px;
  height: auto;
  cursor: pointer;
}

.download:hover {
  transform: scale(1.2);
  transition: transform 0.4s ease;
}

.add {
  position: flex;
  width: 20px;
  height: auto;
  cursor: pointer;
}

.add:hover {
  transform: scale(1.2);
  transition: transform 0.4s ease;
}

.loader{
  padding: 20px;
}
